@import "tailwindcss";
@variant dark (.dark &);
.glass {
  position: relative;
  overflow: hidden;
  border-radius: 999px;
  padding: 10px 20px;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.02)
  );
  border: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(8px) saturate(120%);
  -webkit-backdrop-filter: blur(8px) saturate(120%);

  box-shadow:
    0 6px 30px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);

  color: #fff;
}

.glass::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0)
  );
  mix-blend-mode: overlay;
  opacity: 0.9;
}

.glass::after {
  content: "";
  position: absolute;
  left: 8%;
  top: -40%;
  width: 84%;
  height: 80%;
  transform: rotate(-18deg);
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0)
  );
  filter: blur(10px);
  opacity: 0.7;
  mix-blend-mode: screen;
}

@supports not (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .glass {
    background: rgba(20, 20, 20, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.06);
  }
}
